.page {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #ebeae7;
}



.navigation_bar {
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #eeeeee;
    gap: 30px;
    padding: 40px;

}

.navigation_bar_item {
    background-color: #c4cc9c;
    cursor: pointer;
    height: 30px;
    width: 5vw;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(158, 121, 121),
        0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.navigation_bar_item:hover {
    background-color: #feffef;
}

.navigation_bar_item_active {
    background-color: #feffef;
    cursor: pointer;
    height: 30px;
    width: 5vw;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(158, 121, 121),
        0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.navigation_bar_item_active:hover {
    background-color: #feffef;
}