.page {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #ebeae7;
}



.navigation_bar {
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #eeeeee;
    gap: 30px;
    padding: 40px;

}

.navigation_bar_item {
    background-color: #c4cc9c;
    cursor: pointer;
    height: 30px;
    width: 5vw;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(158, 121, 121),
        0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.navigation_bar_item:hover {
    background-color: #feffef;
}

.navigation_bar_item_active {
    background-color: #feffef;
    cursor: pointer;
    height: 30px;
    width: 5vw;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(158, 121, 121),
        0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.navigation_bar_item_active:hover {
    background-color: #feffef;
}

.main {
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow-y: scroll;
}

.hotel {
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #c4cc9c;
}

.hotel img {
    width: 150px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.add_room {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.add_room_form {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.room_input{
    display: flex;
    flex-direction: column;
    width: 60%;

}
.room_input input, .room_input textarea, .room_input select {

}
.add_room_button_container button {
    cursor: pointer;
    background-color: #c4cc9c;
    padding: 10px;
    border-radius: 20px;
}

.add_room_preview {
    display: flex;
    gap: 20px;
    padding: 20px;
    width: 100%;
    padding-left: 20%;
    padding-right: 20%;
}

.add_room_preview_image {
    width: 30%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.add_room_preview_image img {
    width: 100%;
    height: 25vh;
    border-radius: 10px;
}
.add_room_preview_info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}